In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('./all_perth_310121.csv')
train_data = data.iloc[:-10000,:]
test_data = data.iloc[-10000:,:]

data.describe()

,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN_DIST,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH_DIST,NEAREST_SCH_RANK
count,3.365600e+04,33656.000000,33656.000000,31178.000000,33656.000000,33656.000000,30501.000000,33656.000000,33656.000000,33656.000000,33656.000000,33656.000000,33656.000000,22704.000000
mean,6.370720e+05,3.659110,1.823063,2.199917,2740.644016,183.501545,1989.706436,19777.374465,4523.371494,6089.420074,-31.960664,115.879265,1.815268,72.672569
std,3.558256e+05,0.752038,0.587427,1.365225,16693.513215,72.102982,20.964330,11364.415413,4495.064024,62.167921,0.177780,0.118137,1.746000,40.639795
min,5.100000e+04,1.000000,1.000000,1.000000,61.000000,1.000000,1868.000000,681.000000,46.000000,6003.000000,-32.472979,115.582730,0.070912,1.000000
25%,4.100000e+05,3.000000,1.000000,2.000000,503.000000,130.000000,1978.000000,11200.000000,1800.000000,6050.000000,-32.068437,115.789763,0.880568,39.000000
50%,5.355000e+05,4.000000,2.000000,2.000000,682.000000,172.000000,1995.000000,17500.000000,3200.000000,6069.000000,-31.933231,115.854198,1.345520,68.000000
75%,7.600000e+05,4.000000,2.000000,2.000000,838.000000,222.250000,2005.000000,26600.000000,5300.000000,6150.000000,-31.843818,115.970722,2.097225,105.000000
max,2.440000e+06,10.000000,16.000000,99.000000,999999.000000,870.000000,2017.000000,59800.000000,35500.000000,6558.000000,-31.457450,116.343201,23.254372,139.000000

In [3]:
train_data.to_csv("train_data.csv",index=False)
test_data.to_csv("test_data.csv",index=False)

In [4]:
test_data.describe()

,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN_DIST,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH_DIST,NEAREST_SCH_RANK
count,1.000000e+04,10000.000000,10000.000000,9220.000000,10000.000000,10000.000000,9006.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,6654.000000
mean,6.375018e+05,3.661400,1.822500,2.207375,2974.362100,183.532800,1989.710859,19895.366800,4540.840700,6090.538000,-31.961462,115.879893,1.820882,72.344905
std,3.554334e+05,0.753131,0.596347,1.376491,17546.167012,72.435286,21.072449,11384.682528,4565.913004,63.963747,0.178696,0.118418,1.779517,40.544374
min,5.500000e+04,1.000000,1.000000,1.000000,72.000000,18.000000,1880.000000,747.000000,46.000000,6003.000000,-32.472979,115.582730,0.097609,1.000000
25%,4.050000e+05,3.000000,1.000000,2.000000,506.000000,130.000000,1979.000000,11300.000000,1800.000000,6050.000000,-32.072158,115.790347,0.867650,39.000000
50%,5.375000e+05,4.000000,2.000000,2.000000,682.000000,172.000000,1995.000000,17700.000000,3200.000000,6070.000000,-31.934325,115.854939,1.335849,65.000000
75%,7.650000e+05,4.000000,2.000000,2.000000,845.000000,223.000000,2005.000000,26800.000000,5400.000000,6150.000000,-31.841951,115.971992,2.103752,105.000000
max,2.425000e+06,8.000000,16.000000,50.000000,999999.000000,840.000000,2017.000000,59800.000000,35500.000000,6558.000000,-31.457450,116.343201,17.908836,139.000000

In [5]:
train_data.describe()

,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN_DIST,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH_DIST,NEAREST_SCH_RANK
count,2.365600e+04,23656.000000,23656.000000,21958.000000,23656.000000,23656.000000,21495.000000,23656.000000,23656.000000,23656.000000,23656.000000,23656.000000,23656.000000,16050.000000
mean,6.368903e+05,3.658142,1.823301,2.196785,2641.845367,183.488333,1989.704582,19727.496069,4515.986811,6088.947497,-31.960326,115.878999,1.812894,72.808411
std,3.559987e+05,0.751589,0.583628,1.360486,16319.059933,71.963579,20.919355,11355.709306,4464.853127,61.388239,0.177393,0.118019,1.731669,40.679776
min,5.100000e+04,1.000000,1.000000,1.000000,61.000000,1.000000,1868.000000,681.000000,46.000000,6003.000000,-32.467416,115.583610,0.070912,1.000000
25%,4.100000e+05,3.000000,1.000000,2.000000,502.000000,130.000000,1978.000000,11100.000000,1800.000000,6038.000000,-32.067406,115.789505,0.885820,39.000000
50%,5.350000e+05,4.000000,2.000000,2.000000,682.000000,172.000000,1995.000000,17400.000000,3200.000000,6069.000000,-31.932749,115.853882,1.348658,69.500000
75%,7.600000e+05,4.000000,2.000000,2.000000,836.000000,222.000000,2005.000000,26500.000000,5300.000000,6149.000000,-31.844680,115.970145,2.094873,105.000000
max,2.440000e+06,10.000000,7.000000,99.000000,999999.000000,870.000000,2017.000000,59400.000000,34900.000000,6558.000000,-31.462553,116.317640,23.254372,139.000000